{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Iris</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'messenger/css/main.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@mediapipe/face_mesh/face_mesh.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'messenger/js/eyeTracking.js' %}" type="module"></script>
    <script src="{% static 'messenger/js/board.js' %}" type="module"></script>
    <script src="{% static 'messenger/js/printing.js' %}" type="module"></script>
    <script src="{% static 'messenger/js/functionality.js' %}" type="module"></script>
    <script src="{% static 'messenger/js/visualization.js' %}" type="module"></script>
    <script src="{% static 'messenger/js/visualizationTable.js' %}" type="module"></script>
    <script src="{% static 'messenger/js/visualizationExperiment.js' %}" type="module"></script>
</head>
<body>
    <div id="calibrationIconBorder">
         <i id="calibrationIcon"  class="fa fa-gear" style="font-size:36px;"></i>
    </div>
    <div id="settingsIconBorder">
         <i id="settingsIcon"  class="fa fa-home" style="font-size:36px;"></i>
    </div>
    <p id="word"></p>
    <p id="timer"></p>
    <div id="coordTable">
        <table>
            <tr><th> </th><th>предельные расстояния</th><th>текущие расстояния</th></tr>
            <tr><td>право</td><td id="rightIdeal">данные</td><td id="rightNow" >данные</td></tr>
            <tr><td>лево</td><td id="leftIdeal">данные</td><td id="leftNow">данные</td></tr>
            <tr><td>верх</td><td id="topIdeal">данные</td><td id="topNow">данные</td></tr>
            <tr><td>низ</td><td id="bottomIdeal">данные</td><td id="bottomNow">данные</td></tr>
        </table>
    </div>
    <canvas id="arrowBoard"></canvas>
    <div class="container">
        <video class="input_video"></video>
        <canvas class="output_canvas" width="1280px" height="720px"></canvas>
    </div>
    <div id="notepad"></div>
    <canvas id="board"></canvas>
    <script>
        const rightDist = JSON.parse("{{right | escapejs}}"),
            leftDist = JSON.parse("{{left | escapejs}}"),
            topDist = JSON.parse("{{top | escapejs}}"),
            bottomDist = JSON.parse("{{bottom | escapejs}}"),
            margins = JSON.parse("{{margins | escapejs}}"),
            word = JSON.parse("{{word | escapejs}}");
        const token = "{{csrf_token}}",
			saveURL = "{% url 'save_data' %}";
        var timer = 0;
        $.ajaxSetup({
			headers: { "X-CSRFToken": token }
		});
    </script>
</body>
</html>