html, body {
    margin: 0 !important;
    padding: 0 !important;
}

#webcam, #overlay {
        position: absolute;
        display: none;
        top: 0;
        left: 0;
}
#eyes {
        position: absolute;
        display: none;
        top: 0;
        right: 0;
}
#training-board {
        position: fixed;
        left:0;
        top:0;
        width:100%;
        height:100%;
}