.input_video{
    display: none;
}
.output_canvas{
    display: none;
}

#arrowBoard{
    border:3px solid #a9a7a7;
    border-radius: 20px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 300px;
    display: block;
}

#coordTable{
    position: absolute;
    top: 15px;
    left: 15px;
}
#experimentInformationBorder{
    border:3px solid #a9a7a7;
    border-radius: 20px;
    position: absolute;
    top: 15px;
    right: 230px;
    width: 400px;
    height: 80px;
    text-align: center;
}
#word{
    font-size: 30px;
}
#timer{
    font-size: 30px;
    color: red;
}

#board{
    border:3px solid #a9a7a7;
    border-radius: 20px;
    height: 500px;
    width: 1700px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: block;
}
#notepad{
    border:3px solid #33ffee;
    border-radius: 20px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: block;
    height: 75px;
    width:800px;
    word-break:break-all;
    font-size: 2em;
    text-align: center;
    line-height: 75px;
    color: #000000;
}
#calibrationIcon{
    padding: 5px;
}
#calibrationIconBorder{
    position: absolute;
    top: 65px;
    right: 15px;
    border:1px solid #000000;
    border-radius: 50px;
    box-shadow: 3px 3px 10px #c0c0c0;
}
#settingsIcon{
    padding: 5px;
}
#settingsIconBorder{
    position: absolute;
    top: 15px;
    right: 15px;
    border:1px solid #000000;
    border-radius: 50px;
    box-shadow: 3px 3px 10px #c0c0c0;
}