.input_video{
    display: none;
}
.output_canvas{
    display: none;
}

#board{
    border:3px solid #a9a7a7;
    border-radius: 20px;
    height: 500px;
    width: 1700px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: block;
}
#notepad{
    border:3px solid #33ffee;
    border-radius: 20px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 340px;
    display: block;
    height: 75px;
    width:800px;
    word-break:break-all;
    font-size: 2em;
    text-align: center;
    line-height: 75px;
    color: #000000;
}